<article>
    <div class="post-header-space">
        <div class="post-header">
            <h2>{{title}}</h2>
            <h2>{{user.username}}</h2>
        </div>    
        <div class="post-header">
            <h2>{{format_date createdAt}}</h2>
            <a class="post-header" href="/post/{{id}}">
                <h3>{{comments.length}}</h3>
                <h3>Comments</h3>
            </a>
        </div>
    </div>
    <div class="post-content">
        <P>{{post_txt}}</P>
    </div>
</article>
