<article>
    <div class="post-header-space">
        <div class="post-header">
            <h2>{{title}}</h2>
        </div>    
        <div class="post-header">
            <h2>{{format_date createdAt}}</h2>
            <a class="post-header" href="/edit/"{{id}}>
                <h3>{{comments.length}}</h3>
                <h3>Comments</h3>
            </a>
        </div>
    </div>
    <p class="post-content">{{post_txt}}</p>
</article>

{{#each comments as |comments|}}
{{> post-comments-details comments}}
{{/each}}

{{#if loggedIn}}
<div>
    <form class="new-comment-form">
        <h1>NEW COMMENT</h1>
        <div class="form-input">
            <label for='comment' class="pad1">Enter Comments</label>
            <textarea type="text" id='comment' name="comments" rows='2' class="pad2"></textarea>
        </div>
        <div class="pad5">
            <button type="submit" class="button secondary">SUBMIT</button>
             <a href="/"><button type="submit" class="button tertiary">CANCEL</button></a>
        </div>
    </form>
</div>
<script src="/js/comments.js"></script>
{{/if}}